    {{#> base title='projects' }}

      {{#*inline "content"}}

      <section class="page page--projects">
        <div class="sections">
          {{#each projects}}
            <section class="project js-project project--{{name}}">
              <h2 class="project__title">
                <a href="{{urls.base}}">{{name}}</a>
              </h2>
              <h3 class="project__date">{{date}}</h3>
              <figure class="project__preview flexy">
                <img
                  class="project__image js-project__image"
                  data-src="/assets/img/projects/{{formatImgFile name}}_preview.jpg"
                  srcset="/assets/img/projects/{{formatImgFile name}}_preview.jpg 400w,
                          /assets/img/projects/{{formatImgFile name}}_preview-small.jpg 800w,
                          /assets/img/projects/{{formatImgFile name}}_preview-medium.jpg 1200w,
                          /assets/img/projects/{{formatImgFile name}}_preview-large.jpg 1600w"
                  sizes="(min-width:55em) 50vw, 100vw"
                  alt="{{name}} preview"
                />
                  <figcaption class="project__caption">{{caption}}</figcaption>
              </figure>
              <p class="project__intro">{{info}}</p>
            </section>
          {{/each}}
        </div>
        <span class="icon flexy page__arrow js-page__arrow"></span>
      </section>

      {{/inline}}

    {{/base}}
